{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:storybook/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": { "jsx": true }
  },
  "plugins": [
    "react",
    "prettier",
    "@typescript-eslint",
    "unused-imports",
    "simple-import-sort"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "unused-imports/no-unused-imports": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
